Repository mapado/rest-client-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

.lintstagedrc:

# vim:ft=yaml
"src/**/*.php":
  - "yarn run prettier --write"
  - "vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php"
  - "git add"

"Tests/**/*.php":
  - "vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php"
  - "git add"

Discard changes to package.json
  package.json
Due: none

fix
  Tests/Units/Mapping/Driver/AttributeDriverTest.php
  Tests/Units/Model/SerializerTest.php
  src/Mapping/Driver/AttributeDriver.php
  src/Mapping/Relation.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

add test
  Tests/Model/JsonLd/Invalid.php
  Tests/Units/Mapping/Driver/AttributeDriverTest.php
  src/Mapping/Driver/AttributeDriver.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

[cache] allow null value
  CHANGELOG.md
  src/EntityRepository.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

Bump version: 2.0.1 → 2.1.0
  .bumpversion.cfg
Due: none

[phpstan-extension] fix include of aliases.neon
  CHANGELOG.md
  phpstan-extension/extension.neon
Due: none

Merge pull request #136 from mapado/aa-fix-phpstan-extension-file
  CHANGELOG.md
  phpstan-extension/extension.neon
Due: none

Bump version: 2.1.0 → 2.1.1
  .bumpversion.cfg
Due: none

remove PHP84 deprecations
  src/Collection/Collection.php
  src/Exception/RestException.php
  src/Mapping/Attribute.php
  src/Mapping/ClassMetadata.php
  src/RestClient.php
  src/SdkClient.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

remove unserialize method
  src/Collection/Collection.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

remove PHP84 deprecations (#137)
  src/Collection/Collection.php
  src/Exception/RestException.php
  src/Mapping/Attribute.php
  src/Mapping/ClassMetadata.php
  src/RestClient.php
  src/SdkClient.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

Bump version: 2.1.1 → 2.2.0
  .bumpversion.cfg
Due: none

fix php 84 deprecations
  Tests/Units/EntityRepositoryTest.php
  Tests/Units/Model/SerializerTest.php
Due: vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

fix php 84 deprecations (#138)
  Tests/Units/EntityRepositoryTest.php
  Tests/Units/Model/SerializerTest.php
Due: vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

Bump version: 2.2.0 → 2.2.1
  .bumpversion.cfg
Due: none

laminas/laminas-code
  .scenarios.lock/symfony4/composer.json
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony5/composer.json
  .scenarios.lock/symfony5/composer.lock
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  composer.lock
  package.json
Due: none

friendofphp/proxy-manager-lts
  composer.lock
Due: none

symfony
  .github/workflows/php.yml
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony5/.gitignore
  .scenarios.lock/symfony5/composer.json
  .scenarios.lock/symfony6/.gitignore
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  .scenarios.lock/symfony7/.gitignore
  .scenarios.lock/symfony7/composer.json
  .scenarios.lock/symfony7/composer.lock
  composer.json
  composer.lock
Due: none

upgrade deps
  .scenarios.lock/symfony4/composer.json
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony5/composer.json
  .scenarios.lock/symfony5/composer.lock
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  composer.json
  composer.lock
  package.json
Due: none

Dop SF6, allow SF7&8, allow PHP 8.4
  .github/workflows/php.yml
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  .scenarios.lock/symfony7/.gitignore
  .scenarios.lock/symfony7/composer.json
  .scenarios.lock/symfony7/composer.lock
  .scenarios.lock/symfony8/.gitignore
  .scenarios.lock/symfony8/composer.json
  .scenarios.lock/symfony8/composer.lock
  CHANGELOG.md
  composer.json
  composer.lock
Due: none

Upgrade to latest phpstan 1 version
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  .scenarios.lock/symfony7/composer.json
  .scenarios.lock/symfony7/composer.lock
  .scenarios.lock/symfony8/composer.json
  .scenarios.lock/symfony8/composer.lock
  composer.json
  composer.lock
  phpstan-baseline.neon
  phpstan.neon
  src/EntityRepository.php
  src/Model/ModelHydrator.php
  src/RestClient.php
  src/SdkClient.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

allow phpstan to fail on symfony 6
  .github/workflows/php.yml
Due: none

Upgrade to PHPStan 2.x
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  .scenarios.lock/symfony7/composer.json
  .scenarios.lock/symfony7/composer.lock
  .scenarios.lock/symfony8/composer.json
  .scenarios.lock/symfony8/composer.lock
  composer.json
  composer.lock
  phpstan-baseline.neon
  src/Collection/Collection.php
  src/Model/ModelHydrator.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

extension : phpstan 2 compatibility
  CHANGELOG.md
  phpstan-extension/Reflection/RepositoryMagicFindExtension.php
  phpstan-extension/Type/GetRepositoryDynamicReturnTypeExtension.php
  phpstan-extension/Type/ObjectMetadataResolver.php
  phpstan-extension/Type/ObjectRepositoryDynamicReturnTypeExtension.php
  phpstan.neon
Due: none

Bump version: 2.2.1 → 3.0.0
  .bumpversion.cfg
Due: none
